{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block footer %}
    {{ block.super }}
    <button class="btn btn-primary">
        <a href="{% url 'admin_panel:view_orders' %}" class="text-white">View Orders</a>
    </button>
{% endblock %}

{% block extrahead %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
