<!-- admin_home.html -->

{% extends 'admin_nav.html' %}  <!-- Corrected the extends tag to extend admin_nav.html -->

{% comment %} {% block title %}Admin Home{% endblock %} {% endcomment %}

{% block content %}
<h2 class="text-gray-700 text-3xl font-medium">Orders Details</h2>

<div class="mt-8">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">User Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Item Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Image</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Order Status</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for order in orders %}
              <tr>
                <td>{{ order.user.username }}</td>
                <td>{{ order.food.name }}</td>
                <td>{{ order.qty }}</td>
                <td><img src="{{ order.food.photo_url }}" alt="Image" class="w-24"></td>
                <td>
                  <form action="" method="post">
                    <input type="hidden" name="last_order_id" value="{{ order.id }}">
                    <input type="submit" name="done" class="px-4 py-2 bg-blue-500 text-white rounded" value="Order Completed">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
