<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Category</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
{% include 'admin_panel/Admin_navigation.html' %}

<div class="container mx-auto p-6">
    <!-- Add Item Button -->
    <button onclick="openAddItemModal()"
            class="fixed bottom-10 right-10 bg-blue-500 text-white py-3 px-6 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
            style="z-index: 999;">Add Item
    </button>

    <!-- Modal for Adding Items -->
    <div id="addItemModal" class="hidden fixed top-0 left-0 z-50 w-full h-full bg-gray-800 bg-opacity-50">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded shadow-md">
            <span onclick="closeAddItemModal()"
                  class="absolute top-2 right-2 text-gray-600 cursor-pointer">&times;</span>
            <div class="w-80 mx-auto">
                <h2 class="text-2xl font-semibold mb-4">Add New Item</h2>
                <!-- Add Item Form -->
                <form id="addItemForm">
                    {% csrf_token %}
                    <input type="hidden" name="food" id="food" value="5">
                    <input type="text" name="name" placeholder="Item Name"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <input type="text" name="photo_url" placeholder="Image URL"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <input type="text" name="stock_qty" placeholder="total stock"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <input type="text" name="price" placeholder="Price"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <div class="flex justify-center">
                        <button onclick="addItem()"
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2"
                                type="button" id="save">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid -cols-3 lg:grid-cols-4 gap-6" id="itemsContainer">
        {% for item in data %}
            <div class="relative rounded-lg overflow-hidden shadow-md bg-white" data-item-id="{{ item.id }}">
                <button onclick="openModal('{{ item.id }}')"
                        class="absolute top-0 right-0 m-2 bg-blue-500 text-white text-sm font-bold py-1 px-2 rounded-lg">
                    Edit
                </button>
                <img class="w-full h-48 object-cover object-center" src="{{ item.photo_url }}" alt="{{ item.name }}">
                <div class="p-4">
                    <h4 class="text-xl font-semibold mb-2">{{ item.name }}</h4>
                    <p class="text-gray-700 mb-2">Availability: {{ item.stock_qty }}</p>
                    <div class="flex justify-between">
                        <p class="text-gray-700">Price: ₹{{ item.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div id="editModal" class="hidden fixed top-0 left-0 z-50 w-full h-full bg-gray-800 bg-opacity-50">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded shadow-md">
            <span onclick="closeModal()" class="absolute top-2 right-2 text-gray-600 cursor-pointer">&times;</span>
            <div class="w-80 mx-auto">
                <h2 class="text-2xl font-semibold mb-4">Edit Item</h2>
                <form id="editForm">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="itemId">
                    <!-- Hidden input field to store food ID -->
                    <input type="hidden" name="food" id="itemFoodIdHidden">
                    <input type="text" name="name" id="itemName" placeholder="Item Name"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <input type="text" name="stock_qty" id="itemStockQty" placeholder="Stock Quantity"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <input type="text" name="price" id="itemPrice" placeholder="Price"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <input type="text" name="photo_url" id="itemPhotoUrl" placeholder="Photo URL"
                           class="block w-full border border-gray-300 rounded py-2 px-3 mb-3 focus:outline-none focus:border-blue-500">
                    <div class="flex justify-center">
                        <button onclick="saveChanges()"
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2"
                                type="button" id="save">Save
                        </button>
                        <button onclick="removeItem()"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="button">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>


    function openModal(itemId) {

        fetch(`/api/fooddetails/${itemId}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('itemId').value = data.id;
                document.getElementById('itemName').value = data.name;
                document.getElementById('itemStockQty').value = data.stock_qty;
                document.getElementById('itemPrice').value = data.price;
                document.getElementById('itemPhotoUrl').value = data.photo_url;
                // Set the hidden input field value for food ID
                document.getElementById('itemFoodIdHidden').value = data.food;

                document.getElementById('editModal').classList.remove('hidden');
            })
            .catch(error => {
                console.error('Error fetching item details:', error);
            });
    }

    function closeModal() {
        document.getElementById('editModal').classList.add('hidden');
    }

    function saveChanges() {
        const form = document.getElementById('editForm');
        const formData = new FormData(form);
        const itemId = formData.get('id');

        fetch(`/api/fooddetails/${itemId}/`, {
            method: 'PUT',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log('Changes saved successfully');
                    closeModal();
                    updateItemOnPage(itemId, formData); // Call the new function to update the item on the page
                } else {
                    console.error('Error saving changes:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error saving changes:', error);
            });
    }

    function removeItem() {
        const form = document.getElementById('editForm');
        const formData = new FormData(form);
        const itemId = formData.get('id');

        fetch(`/api/fooddetails/${itemId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log('Item deleted successfully');
                    closeModal();
                    removeItemFromPage(itemId); // Call the new function to remove the item from the page
                } else {
                    console.error('Error deleting item:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error deleting item:', error);
            });
    }

    function updateItemOnPage(itemId, formData) {
        const itemName = formData.get('name');
        const stockQty = formData.get('stock_qty');
        const price = formData.get('price');
        const photoUrl = formData.get('photo_url');

        const itemElement = document.querySelector(`.relative[data-item-id="${itemId}"]`);
        if (itemElement) {
            itemElement.querySelector('h4').textContent = itemName;
            itemElement.querySelector('p:nth-child(2)').textContent = `Availability: ${stockQty}`;
            itemElement.querySelector('p:nth-child(3)').textContent = `Price: $${price}`;
            itemElement.querySelector('img').src = photoUrl;
        }
    }

    function removeItemFromPage(itemId) {
        const itemElement = document.querySelector(`.relative[data-item-id="${itemId}"]`);
        if (itemElement) {
            itemElement.remove();
        }
    }

    function openAddItemModal() {
        document.getElementById('addItemModal').classList.remove('hidden');
    }

    function closeAddItemModal() {
        document.getElementById('addItemModal').classList.add('hidden');
    }

    function addItem() {
        const form = document.getElementById('addItemForm');
        const formData = new FormData(form);

        const category = "{{ selected_category }}";
        let categoryId;
        console.log(category);

        if (category == 'all' || category == "Gujarati_items") {
            categoryId = 1;
        } else if (category == "Punjabi_items") {
            categoryId = 2;
        } else if (category == "Chinese_items") {
            categoryId = 3;
        } else if (category == "South_indian") {
            categoryId = 5;
        } else {
            categoryId = 6;
        }

        formData.set('food', categoryId);
        fetch('/api/fooddetails/additem/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                 console.log('data is this ',data);
                
                console.log(data);
                closeAddItemModal(); // Close the modal after adding item
               
                addItemToPage(data); // Call the new function to add the item to the page
            })
            .catch(error => {
                console.error('Error adding item:', error);
            });
    }

    function addItemToPage(itemData) {
    const itemsContainer = document.getElementById('itemsContainer');
    const newItemElement = document.createElement('div');
    newItemElement.classList.add('relative', 'rounded-lg', 'overflow-hidden', 'shadow-md', 'bg-white');
    newItemElement.setAttribute('data-item-id', itemData.id);

    const editButton = document.createElement('button');
    editButton.classList.add('absolute', 'top-0', 'right-0', 'm-2', 'bg-blue-500', 'text-white', 'text-sm', 'font-bold', 'py-1', 'px-2', 'rounded-lg');
    editButton.textContent = 'Edit';
    editButton.addEventListener('click', () => openModal(itemData.id));

    const itemImage = document.createElement('img');
    itemImage.classList.add('w-full', 'h-48', 'object-cover', 'object-center');
    itemImage.src = itemData.photo_url;
    itemImage.alt = itemData.name;

    const itemContent = document.createElement('div');
    itemContent.classList.add('p-4');

    const itemName = document.createElement('h4');
    itemName.classList.add('text-xl', 'font-semibold', 'mb-2');
    itemName.textContent = itemData.name;

    const itemAvailability = document.createElement('p');
    itemAvailability.classList.add('text-gray-700', 'mb-2');
    itemAvailability.textContent = `Availability: ${itemData.stock_qty}`;

    const itemPriceContainer = document.createElement('div');
    itemPriceContainer.classList.add('flex', 'justify-between');

    const itemPrice = document.createElement('p');
    itemPrice.classList.add('text-gray-700');
    itemPrice.textContent = `Price: $${itemData.price}`;

    itemPriceContainer.appendChild(itemPrice);
    itemContent.appendChild(itemName);
    itemContent.appendChild(itemAvailability);
    itemContent.appendChild(itemPriceContainer);
    newItemElement.appendChild(editButton);
    newItemElement.appendChild(itemImage);
    newItemElement.appendChild(itemContent);
    itemsContainer.appendChild(newItemElement);
}
</script>
</div>
</body>
</html>