{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-100">
    <!-- Start of Navbar -->
   {% include 'admin_panel/Admin_navigation.html' %}
 
{% block content %}
    <div class="container mx-auto px-6 py-8">
        <h2 class="text-gray-700 text-3xl font-medium">Orders Details</h2>

        <div class="mt-8">
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                <tr>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        User Name
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Item Name
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Quantity
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Image
                                    </th>
                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Order Status
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white divide-y divide-gray-200">
                                {% for order in orders %}
                                
                                    {% for order_detail in order.order_details %}
                                        
                                      
                                     
                                      
                                        <tr>
                                            {% if forloop.first %}
                                                <td rowspan="{{ order.order_details|length }}">{{ order.user_name }}</td>
                                            {% endif %}
                                            <td>{{ order_detail.item.name }}</td>
                                            <td>{{ order_detail.qty }}</td>
                                            <td><img src="{{ order_detail.item.photo_url }}" alt="Item Image" class="w-24"></td>
                                            <td>
                                                <form method="post" action="{% url 'admin_panel:mark_order_completed' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="order_id" value="{{ order.order_id }}">
                                                    <input type="hidden" name="user_id" value="{{ order.user_id }}">
                                                    <input type="hidden" name="order_detail_id" value="{{ order_detail.id }}">
                                                    <input type="hidden" name="qty" value="{{ order_detail.qty }}">
                                                    <input type="submit" name="done" class="px-4 py-2 bg-blue-500 text-white rounded" value="Order Completed">
                                                </form>
                                            </td>
                                        </tr>
                                         
                                        <div></div>
                                    {% endfor %}
                                   
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}