{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="relative flex flex-col items-center justify-between h-16 sm:flex-row">
   
    <div class="hidden sm:block sm:ml-6">
      <div class="flex justify-center space-x-4 sm:justify-between">
        
       <form action="{% url 'canteen:filter' %}" method="post">
    {% csrf_token %}
            <button type="submit" name="category" value="all" class="bg-white hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">ALL</button>
    <button type="submit" name="category" value="Gujarati_items" class="bg-white hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Gujarati Dishes</button>
    <button type="submit" name="category" value="Punjabi_items" class="bg-white hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Punjabi Dishes</button>
    <button type="submit" name="category" value="Chinese_items" class="bg-white hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Chinese Dishes</button>
    <button type="submit" name="category" value="South_indian" class="bg-white hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">South Indian Dishes</button>
    <button type="submit" name="category" value="Snacks" class="bg-white hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Snacks</button>
   
</form>

      </div>
    </div>
  </div>

  

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-8">
    {% for item in data %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
      <img class="w-full h-48 object-cover" src="{{ item.photo_url }}" alt="{{ item.name }}">
      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">{{ item.name }}</h3>
        <p class="text-gray-600 mb-2">{{ item.stock_qty }} in stock</p>
        <p class="text-gray-900 font-bold mb-4">&#8377;{{ item.price }}</p>
        <form action="{% url 'canteen:cart' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button type="submit" class="bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 w-full">
            Add to Cart
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}