<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

   
    
   
    <h1 class="text-4xl font-bold text-center text-blue-500">Welcome to the home page</h1>
    <h2 class="text-2xl text-center text-blue-400 mb-4">Here are the latest news:</h2>
    
    <!-- {% csrf_token %} -->
    <!-- {% for data in news_data %}
    <div class="mb-6">
        <h1 class="text-xl font-bold">title : </h1>
        <h2 class="text-lg text-blue-600">{{data.title}}</h2>
    
        <h1 class="text-xl font-bold">content : </h1>
        <h2 class="text-lg text-blue-600">{{data.content}}</h2>
    </div> -->
    <!-- {% endfor %} -->
   


  </body>
</html>
