{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="{% url 'canteen:register' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }} {# Add this line to display non-field errors #}
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %} {# Display username errors if there are any #}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {% if form.password1.errors %} {# Display password1 errors if there are any #}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {% if form.password2.errors %} {# Display password2 errors if there are any #}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
            <button type="submit">Register</button>
        </form>
        <div class="switch-form">
            Already have an account? <a href="{% url 'canteen:login' %}">Login</a>
        </div>
    </div>
</body>
</html>